Downloads/Genome
Downloads/dotfiles-2.0
Downloads/awesome-config
Downloads/dotfiles-master
Downloads/awesome-dotfiles
Downloads/the-glorious-dotfiles 
Downloads/roficonfig
Pictures
.vim
vimwiki
vimwiki_html
notes
config/coc
config/rofi.old
config/qtile.old

